
.logo-container{
 display: flex;
 justify-content: center;
 align-items: center;
height: 13vh;
position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 650px;  
  border-radius: 20px;
  background: rgba(5, 88, 95, 0.228);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
              0 6px 20px rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(1px);
  border: none;
  padding: 20px;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent); 
}
.logo-g {
  width: 70px;
  height: 70px; 
  padding: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.logo-text{
    color: white;
    padding: 4px;
    font-size: 2.5rem;
}
