.profile-det-main {
  margin: 120px;
}
.back-button{
  margin: 20px 0 0 20px;
   background: #666f8f2c;
  border: none;
  outline: none;
  color: #fff; 
  cursor: pointer;
  border-radius: 20px; 
  padding: 10px 20px; 
  position: absolute;
   font-size: 20px;
    font-weight: 700;
}
.profile-container {
    width: 110%;
    height: auto;
    margin: 0;
    padding: 50px;
    background: #666f8f2c;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 16px 30px -10px rgba(0,0,0,0.2);
 
}
.profile-content {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
}
.profile-img {
    height: 100%;
}
.profile-avatar {
    width: 250px;
    border-radius: 50%;
    border: 3px solid #20428a;
    box-shadow: 0 16px 30px -10px rgba(0,0,0,0.2);
    margin-top: 20px;
}
.profile-details {
    display: flex;
    flex-direction: column;
}
.profile-des {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
   
}
.profile-name {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}
a.profile-username {
    color: #fefefe;
    text-decoration: none;
    margin-top: 4px;
}
.profile-bio {
    margin: 20px 20px 20px 5px;
    color: #b1a7a7;
    line-height: 1.5rem;
}
.profile-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    width: 500px;
    border-radius: 10px;
    background: #1e3d745e;
    font-size: 13px;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 0 16px 30px -10px rgba(0,0,0,0.2);
}
.stats {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}
.profile-info {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 80px;
    
}
.profile-repos, .profile-followers, .profile-following {
  color: #ffffff;
  font-size: 15px;
}

